/* sidebar*/
.layout {
  display: flex;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

/* Sidebar */
.sidebar {
  width: 150px;
  background-color: #f6f6f6;
  border-right: 1px solid #d5d5d5;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-subtitle {
  padding-left:18%;
}

/* App Header */
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  
}

.logo {
  width:100%;
  height: 100%;
  object-fit: contain;
}

.app-name h3 {
  font-size: 16px;
  margin: 0;
}

.app-name p {
  font-size: 12px;
  margin: 0;
  color: #6b7280;
}

/* Navigation */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-links a {
  text-decoration: none;
  color: #111827;
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  transition: background 0.2s;
}

.nav-links a:hover{
  border-color: #111827;
  transition: border-color 0.2s;
}
